
.chatroomActions{
 
    bottom: 5px;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 72px;
    grid-gap: 1rem;
    border-top: 1px solid #eee;
    margin: 0 10.7rem 0 9rem;
}

.chatroomContent{
    background-color: #ffff;
    top: 2.5rem;
    left: 0;
    right: 0;
    height: 25rem;
    bottom: 3.5rem;
    padding: 0.5rem;
    overflow-y: scroll;
    padding: 1rem;
    
}
.chatroomActions button{
    height: 100%;
}

.message{
    margin-bottom: 0.25rem;

}
.otherMessage{
    margin-left: 1rem;
    color: #f1aa4cff;
    font-weight: bold;
    font-size: 1rem;
}
.myMessage{
    margin-left: 1rem;
    color:blue;
    font-weight: bold;
    font-size: 1rem;
    float: right;
}
.leave:hover{
    color: black;
    background-color: rgb(90, 88, 87);
}
.leave{
    background-color: #FDAF01;
    width:80%;
    text-align: center;
}
.message{
    color: black;
}
.inputGroup{
    grid-template-columns: 1fr 72px;
    grid-gap: 1rem;
    
}

.chatroomrow{
    margin-top: 1.5rem;
}
.messagein{
    margin-top: .5rem;
    width: 100%;
}
.send{
    margin-bottom: 2rem;
}
.sendbtn{
    margin-left: 0%;
    width: 100%;
    margin-top: .5rem;
}
.copyroom{
 margin-top: .8rem;
    
}
.vcpbtn{
    margin-top:.5rem;
}
.chatc{
    margin-top:1rem;
}
.vcontrol{
    margin-bottom:1rem;
}

.aboutus{
    text-align:center;
}
.teampic{
    text-align: center;
    width: 100%;
    height: 20rem;
    margin: 1rem;
    border: #FDAF01 10px solid;
}
